* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}
:root {
  --darkBgColor: #1f2937;
  --heroMainText: #f9faf8;
  --heroSecondaryText: #e5e7eb;
  --buttonColor: #3882f6;
  --informationHeaderText: #1f2937;
  --quoteSectionBg: #e5e7eb;
  --quoteText: #1f2937;
}
