.intro-bg {
  background-color: var(--darkBgColor);
}

.intro {
  padding: 100px 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.intro-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-size: 3rem;
  color: var(--heroMainText);
  font-weight: 700;
}

.secundaryText {
  font-size: 1.125rem;
  color: var(--heroSecondaryText);
  font-weight: normal;
  font-size: 1.125rem;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: var(--buttonColor);
  border: none;
  color: var(--heroSecondaryText);
  max-width: max-content;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
